body { 
    margin: 0;
    background-image: url('../Art/WebGame/piratePatern.png');
    background-repeat: repeat;
}
canvas { 
    display: block; 
}

.w3-bar-item img {
    width:50px;
    height:25px; 
    float: right;
}
.w3-dropdown-hover:first-child {
    background-color: rgba(0,0,0,0);
}

.logoArea {
    color: black;
    z-index: 1;
}
.logoArea img{
    max-width: 75px;
    float: left;
}
.logoArea h1{
    max-width: 200px;
    float: left;
    margin: 10px;
}

.dropDown {
    margin-top: 20px;
}

.w3-btn, .w3-button {
    padding: 0;
    white-space: pre-wrap;
}

.dropDownBtn {
    padding: 5px 15px;
    text-align: center;
}

body,h1 {font-family: "Raleway", sans-serif}

body, html {height: 100%}

.w3-light-grey {
    -moz-outline:0 none;
    outline:0 none;
}

.w3-red {
    pointer-events: none;
    -moz-outline:0 none;
    outline:0 none;
}

.w3-green {
    pointer-events: none;
    -moz-outline:0 none;
    outline:0 none;
}