body { 
    margin: 0; 
}
canvas { 
    display: block; 
}

.w3-bar-item img {
    width:50px;height:25px; float: right;
}

.logoArea {
    color: darkred;
}
.logoArea img{
    max-width: 100px;
    height:100%;
}